<div class="card m-3" style="width: 15rem;">
    <div class="card-title bg-primary text-white border-primary">
        <h5 class="ml-1"><i class="fas fa-cogs"></i> Engineer</h5>

    </div>
    <div class="card-body">
        <div>
            <span><strong>Id:</strong> </span> <span> ${this.getId()}</span>
        </div>
        <div>
            <span><strong>Name:</strong> </span> <span> ${this.getName()}</span>
        </div>
        <div>
            <span><strong>Email:</strong> </span> <span> ${this.getEmail()}</span>
        </div>
        <div>
            <span><strong>Github:</strong> </span> <span> ${this.getGithub()}</span>
        </div>
    </div>
</div>